<!--
/**
 * Decred Template
 */
-->
<div class="payment-method decred-plugin" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice" data-bind="click: selectPaymentMethod">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <img height="20" width="110" data-bind="attr: { src: require.toUrl('Decred_Payments/images/decred_logo.png') }" />
        </label>
        <span class="decred-label">
            <span class="decred-price">
                <span class="decred-amount decred-amount__big" data-bind="text: displayDecredAmountBig"></span>
                <span class="decred-amount decred-amount__small">
                    <span data-bind="text: displayDecredAmountSmall"></span><span>&nbsp;DCR</span>
                </span>
            </span>
        </span>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-decred-price">
            <!-- ko if: isShowRefundAddress() -->
            <p>Please enter below your Decred address in case you need a refund.</p>
            <dl class="decred-refund-address-wrapper">
                <dt><label for="decred-refund-address">Refund Address</label></dt>
                <dd>
                    <input id="decred-refund-address" type="text" name="refund_address" data-bind="attr: {required: !isRefundAddressOptional()}"/>
                    <div id="decred-refund-address-error" class="decred-error-wrapper"><span class="decred-error">Please enter valid Decred address</span></div>
                </dd>
            </dl>
            <!-- /ko -->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout decred-place-order"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
